app-corpo{
  font-size: 250%;
  z-index: 2;
  position: absolute;
  background-color: "aliceblue";
  margin-top: 25%;
  text-align: center;
}
#container{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 70px;
}
li#bt.Right_bt_1{
  right: 0px;
  margin-right: 187.28px;
}

li#bt.Right_bt_2{
  right: 0px;
  margin-right: 286.31px;
}

li.Dark_bt{
  right: 5px;
}

li.Left_bt{
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

li#bt{
  background-color: rgb(78, 67, 221);
  margin: 5px;
  position: fixed;
  display: inline;
  padding: 15px;
  border-radius: 30px;
  top: 0px;
  font-size: 150%;
  transition: background .5s;
}

a{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;

}

li#bt:hover{
  background-color: rgb(101, 93, 219);
}
ul{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  text-align: right;
  height: 70px;
  margin-top: 20px;

}
#switch{
  position: relative;
  width: 5%;
}
.Menu_Lateral{
  background-color: rgb(40,40,40);
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 200px;
  margin-top: -90px;
  margin-left: -90px;
  transition: .20s;
  opacity: 100%;
}
.Menu_Lateral_fundo{
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: -90px;
  opacity: 0;
  transition: .25s;
}

