app-corpo{
    font-size: 250%;
    z-index: 2;
    position: absolute;
    background-color: "aliceblue";
    margin-top: 25%;
    text-align: center;
}
#container{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 50px;
}
li {
    margin: 5px;
    margin-top: 10px;
    padding: 0;
    display: inline;
    font-size: 150%;
    background-color: rgb(78, 67, 221);
    border-radius: 40px;
    padding: 15px;
}
a{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

li:hover{
    background-color: rgb(101, 93, 219);
}
ul{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    text-align: right;
    height: 50px;
    margin-top: 20px;
}
#switch{
    position: relative;
    width: 5%;

}
